# Ignore everything by default
*

# Except these files and directories
!.gitignore
!README.md
!article_draft.md
!requirements.txt
!run.py
!.env.example

# Unignore folders AND their contents
!Notebooks/
!Notebooks/**

!src/
!src/**

!Data/
!Data/**

!Docker/
!Docker/**

!App/
!App/**

!Config/
!Config/**

!Recommendation_engine/
!Recommendation_engine/**
